footer {
  width: 100%;
  overflow: hidden;
  padding: 3rem 0;
  background-color: var(--primary-color);
  position: relative;
}
footer .footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer .footer-text {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer .footer-text h2 {
  color: white;
  font-weight: 500;
  font-size: 30px;
  letter-spacing: 0.3px;
}
footer .footer-text h2 span {
  color: rgb(31, 89, 215);
}
footer .footer-text .sub-div {
  padding-bottom: 1rem;
}
footer .footer-text .sub-div a {
  margin-right: 1rem;
  text-decoration: none;
  color: rgb(207, 208, 210);
  font-weight: 300;
}
footer .footer-text .sub-div a:hover {
  color: rgb(173, 173, 174);
}
footer .img-bx img {
  border-radius: 3px;
  height: 45px;
}
.legal {
  position: relative;
  width: 100%;
  height: auto;
}
.legal .bev-2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.legal {
  display: flex;
  font-size: 12px;
}
.legal p {
  padding-right: 1rem;
  margin: 1rem;
  color: rgba(154, 154, 154, 0.884);
  letter-spacing: 0.5px;
  font-weight: 300;
}
@media (max-width: 919px) {
  .legal {
    display: none;
  }
}
