@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
:root {
  --primary-color: rgb(13, 19, 35);
  --secondary-color: rgb(228, 226, 226);
  --secondary-fontS: rgb(175, 174, 174);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
section {
  padding: 0 2rem 0rem 2rem;
  background-color: var(--primary-color);
}
.container {
  max-width: 100%;
  margin: auto;
}
.flex {
  display: flex;
  justify-content: space-between;
}
.section {
  padding: 0 2rem 0rem 2rem;
}
button {
  padding: 12px 26px;
  font-size: 1rem;
  color: white;
  background-color: rgb(28, 155, 187);
  border: none;
}
button:hover {
  transform: scale(1.05);
}